/*fonts*/

@font-face {
  font-family: CocogooseUltralight;
  src: url(../fonts/cocogoose/Cocogoose\ Pro\ Ultralight-trial.ttf);
}

@font-face {
  font-family: CocogooseRegular;
  src: url(../fonts/cocogoose/Cocogoose-regular.ttf);
}

@font-face {
  font-family: CocogooseSemiLight;
  src: url(../fonts/cocogoose/Cocogoose\ Pro\ Semilight-trial.ttf);
}

/* Base styles*/




html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --grid-height: 4rem;
  --grid-width: 4rem;
  --allLettersHeight: 24em;
  --dropDownWidth: 12.5em;
  --lightThemeBlue: rgb(57, 126, 135);
  --lightThemeGray: rgb(94, 94, 94);
  --lightThemeRed: rgb(231, 150, 150);
  --lightThemeBlack: black;
  --lightThemeBackground: #f7f7f7;
  --lightThemeDropDown: #f2f2f2;
  --svgFilterSettings: none;
}

p {
  font-size: 0.875rem;
  font-family: CocogooseSemiLight, sans-serif;
  font-weight: 100;
  color: var(--lightThemeBlack);
}


body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

a {
  font-family: CocoGooseRegular;
  color: var(--lightThemeBlack);
  text-decoration: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.svgImage:hover {

 cursor: pointer;
}

/*grid and layout styles*/

#grid-body-wrapper {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  grid-template-areas:
    "nav"
    "board-input"
    "keyboard"
    "instructions";

  grid-template-rows: 3.125em 60% 40% 0fr;
  grid-template-columns: 1fr;
  overflow: hidden;
}

#grid-board-and-input {
  background-color: var(--lightThemeBackground);
  grid-area: board-input;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#grid-board {
  display: grid;
  grid-gap: .3125em;
  width: 100%;
 /* grid-template-rows: repeat(var(--grid-rows), minmax(0, var(--grid-height)));*/
  grid-template-columns: repeat(var(--grid-cols), minmax(0, var(--grid-width)));
  aspect-ratio: var(--grid-cols) / var(--grid-rows);
  max-height: 100%;
}

#grid-board > * {
  background-color: var(--lightThemeGray);
  aspect-ratio: 1/1;
  border-radius: 100%;
  font-size: 2.8125rem;
  font-family: CocogooseRegular, sans-serif;
  text-align: center;
  color: #f7f7f7;
  }

.grid-item >* {

color: #f7f7f7;
}
#grid-board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  padding: .625em;
}
#input-container {
  background-color: var(--lightThemeBlue);
  display: none;
}

/* mobile overlay styles*/

.overlay .close-overlay{

  font-size: 3.75rem;
  color: var(--lightThemeBlack);
  margin-bottom: .5em;

}

.overlay .close-overlay:hover{
  cursor: pointer;
  color: var(--lightThemeGray);
}
.overlay-content > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 5%;
}

.overlay-content > ul > li > * {
  margin-bottom: 1em;
}
.overlay a,
.overlay-labels {
  text-decoration: none;
  font-size: 2em;
  color: var(--lightThemeBlack);
  display: block;
  font-family: CocoGooseRegular;

  transition: 0.3s;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--lightThemeBackground);
  opacity: 0.98;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay-content > ul > li:first-child{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.overlay-content > ul > li:nth-child(2),
.overlay-content > ul > li:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: min-content;
}

.overlay-content {
  width: 100%;
}
/* Alert message styles*/

.overlay-alert-wrapper {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
opacity: 0;
z-index: -2;

transition-property: opacity;
transition-duration: 1s;

}


.overlay-alert-card{

width: 95%;
height: 12.5em;
background-color: var(--lightThemeRed);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;



}

.overlay-alert-card>span {
  font-family: 'CocogooseRegular', sans-serif;
  color: var(--lightThemeBlack);
}


#nonCoco{

font-family: sans-serif;
font-weight: 1000;
color: var(--lightThemeBlack);

}
/*nav styles*/

nav {
  width: 100%;
  grid-area: nav;
  z-index: 1;
  position: relative;
}

nav > ul {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0;
  height: 100%;
  margin: 0;
  z-index: 1;
  position: relative;
  background-color: var(--lightThemeBlue);
}

nav > ul > li {
  list-style: none;
  font-family: CocoGooseRegular;
  display: none;
  margin: 0;
  width: 3.125em;
}

nav > ul > li > img {
  width: 50%;
  height: auto;
}

.svgImage {
  filter: var(--svgFilterSettings);
}

nav > ul > li > ul {
  display: none;
}

.title {
  font-size: 6rem;
  display: block;
  top: -0.5em;
  position: relative;
  

}
#wordle-title {
  color: var(--lightThemeBlack);
}


nav > ul > li:nth-child(5) {
  position: absolute;
  right: 1em;
  border: 2px solid var(--lightThemeBlack);
  top: 1.5em;
  border-radius: 100%;
  height: 4em;
  width: 4em;
  background-color: var(--lightThemeBackground);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--lightThemeBlack);
}

nav > ul > li:nth-child(5):hover {
  background-color: rgb(156, 152, 152);
  cursor: pointer;
}

.number-submit-container {
  margin-right: 0;
}

/*keyboard and miss or hit indicator all letters styles */


#keyboard-container {
  height: 40vh;
  width: 100%;
  max-height: 100%;
}

#keyboard {
  background-color: var(--lightThemeBackground);
  grid-area: keyboard;
  padding: .625em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: .375em }

.keyboard-letters {
  background-color: var(--lightThemeBlack);
  max-height: 3.625em;
  flex-basis: 3.625em;
  font-family: CocogooseRegular, "sans-serif";
  height: 3.625em;
  max-width: 2.875em;
  min-width: .375em;
  margin: 0 .375em 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .375em;
  color: var(--lightThemeBackground);
}

.key-enter, .key-backspace {
min-width: min-content;
padding: 0.2em;
}


#all-letters-container {
  display: none;
}


  /*circles, used both in aside and keyboard*/

  .flex-circle {
    height: 3rem;

    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: .375em;
    background-color: var(--lightThemeBlack);
  }

  .flex-inner-circle {
    width: 93.75%;
    height: 93.75%;
    border-radius: 50%;
    border: 0.1rem solid var(--lightThemeBackground);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: CocogooseUltralight;
    background-color: var(--lightThemeBlack);
    color: var(--lightThemeBackground);
    padding-top: 3px;
  }



/*instructions aside styles*/

aside {
  background-color: var(--lightThemeBackground);
  grid-area: instructions;
  display: none;
  flex-direction: column;

  padding: .875em;
  transition: transform 3000ms;
  transform: translate3d(0, 100%);
  height: 62.5em;
}
.demo-word {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

aside > p {
  margin: .875em 0 .875em 0;
}


aside section {
  border-bottom: 1px solid var(--lightThemeBlack);
}

.close-instructions-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close-instructions{
 
  font-size: 3.75em;
  color: var(--lightThemeBlack);
}

.close-instructions:hover{
  cursor: pointer;
  color: var(--lightThemeGray);
}



/*Number of letters settings and toggle light mode for mobile and full screen styles */

.number-submit-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.number-submit-container > input,
button {
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  width: 50%;
color: var(--lightThemeBlack)
}

.number-submit-container > input:focus{
  color: black;
}

input[type="number"] {
  border: none;
  height: 3em;

  font-size: 1em;
    
}


.number-submit-container > button {
  border: none;
  background-color: var(--lightThemeGray);
  font-family: CocoGooseRegular, sans-serif;
  border: 0;
  height: 3em;
  min-width: min-content;

}

.reset {padding: 0;}

/* The switch itself, box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
  border-radius: 50%;
}

/* This hidess the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lightThemeGray);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  border-radius: 2.125em;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625em;
  width: 1.625em;
  left: .25em;
  bottom: .25em;
  background-color: var(--lightThemeBackground);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--lightThemeBlue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--lightThemeBlue);

  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  border-radius: 2.125em;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.625em);
  -ms-transform: translateX(1.625em);
  transform: translateX(1.625em);
}

/* rounds the slider */
.slider.round {
  border-radius: 2.125em;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="text"] {
  width: 80%;
  height: 2em;
  border: 0;
  font-size: 2rem;
  box-shadow: 0 0 1em .25em rgba(0, 0, 0, 0.06);
  font-family: CocoGooseRegular, "Open Sans", sans-serif;
}

.button {
  font-family: CocoGooseRegular, "Open Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--lightThemeBlack);
  cursor: pointer;
  border: 3px solid var(--lightThemeBlack);
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: var(--lightThemeRed);
}


.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: .25em;
  left: .25em;
}

.keyboard-row > .button{

  background-color: var(--lightThemeBlack);
  color: var(--lightThemeBackground); 
  text-transform: none;
  box-shadow: none;
  border: none;
  letter-spacing: 1px;

}
@media only screen and (max-width: 450px) {

.title {
  font-size: 4.5em;
}
nav ul {
height: 100%;
}

#grid-body-wrapper{
grid-template-rows: 2.3em 60% 40% 0fr;
}
}


/*Media query 1*/
@media only screen and (min-width: 600px) {

  /*grid layout style*/

  #grid-body-wrapper {
    width: 100%;
    height: 100%;
    grid-template-areas:
      "nav nav"
      "board-input keyboard"
      "board-input instructions"
      "board-input instructions";

    grid-template-rows: 3.125em 1fr 1fr 1fr;
    grid-template-columns: 2.5fr 1.5fr;
  }

  /*Right dropdown slider styles, gear icon*/

  ul li:hover ul.dropdown.right {
    position: absolute;
    height: 150px;
    top: 50px;
    width: 37.5%;
  }


  ul li ul.dropdown.right {
    right: 0;
    height: 0;
    position: absolute;
    top: 3.125em;
    width: 37.5%;
    overflow: hidden;
    transition: height 1s;
    background-color: var(--lightThemeBackground);
  }

  ul li:hover ul.dropdown.right {
    right: 0;

  }

  .dropdown.right {
    width: 37.5%;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  ul li ul.dropdown.right li {
    margin: 0;

  }

  .dropdown.right li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 1em 0;
    height: min-content;
  }

  .dropdown-titles{
    color: var(--lightThemeBlack);
  }

  .number-submit-container {
    margin-right: 2em;
  }

  .switch {
    margin-right: 2em;
  }

  /*Nav styles*/

  .title {
    font-size: 6rem;
    margin: 0 auto;
    width: min-content;
    display: block;
    position: relative;
    top: -0.5em;

  }

  nav ul li {
    list-style: none;
    font-family: CocoGooseRegular;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    justify-content: space-between;
    display: flex;
  }

  nav > ul > li:nth-child(5) {
    display: none;
  }

  /*Instructions Aside styles*/

  aside {
    display: flex;
  }


  #instructions {

    display: flex;
  }
  .close-instructions {
    display: none;
  }

  /*keyboard and all-letters hit or miss indicator styles */
  #all-letters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
    position: relative;
  }

  #keyboard {
    justify-content: center;
    height: var(--allLettersHeight);
  }

  #keyboard-container {
    display: none;
  }

  /*Game board grid and input guess submission styles*/

  #grid-board-and-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #grid-board-container {
    height: 60vh;
    padding: .625em;
  }

  #grid-board {
    max-height: 100%;
  }

  #input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: min-content;
    align-items: center;
  }

  #input-container form {
display: flex;
flex-direction: column;
align-items: center;
  }
  #input-container form >* {
margin-bottom: .5em;
      }

  #input-container > * {
    margin: 1em;
  }


  /*Media query 2, contained within min-width 600px media query, for left side hamburger nav 
that only exists within medium size laout*/
  @media screen and (min-width: 600px) and (max-width: 1100px) {
    /*left side hamburger drop down nav bar*/
    ul li ul.dropdown.left {
      height: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 3.125em;
      width: var(--dropDownWidth);
      overflow: hidden;
      transition: height 1s;
      background-color: var(--lightThemeBackground);
      padding: 0;

    }

    ul li ul.dropdown.left {
      left: 0;
    }

    ul li:hover ul.dropdown.left {
      padding: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;  
          height: 6.25em;
      top: 3.125em;
      width: var(--dropDownWidth);
      background: var(--lightThemeBackground);
      left: 0;
      min-height: min-content;
    }

    ul li ul.dropdown.left li {
      background-color: var(--lightThemeBackground);
      padding: .2em;
      margin: 0;
    }

    /*aside style to allow slide up on hover, only needed in medium size layout*/
    aside:hover {
      transform: translateY(calc(var(--allLettersHeight) * -1));
      height: 62.5em;
      transition: transform 3000ms;
    }
  }
}
/*Media query 3*/
@media only screen and (min-width: 1100px) {
  /*grid layout*/
  #grid-body-wrapper {
    width: 100%;
    height: 100%;
    grid-template-areas:
      "nav nav nav"
      "instructions board-input keyboard"
      "instructions board-input keyboard"
      "instructions board-input keyboard";

    grid-template-rows: 3.125em 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*right side gear icon nav dropdown*/

  ul li ul.dropdown.right,
  ul li:hover ul.dropdown.right {
    width: 33.3333333333333333%;
  }

  /*aside styles, disables slide up, resizes*/

  aside {
    height: 100%;
  }

  aside:hover {
    transform: none;
  }

  /*keyboard/all-letters hit or miss styles*/
  .all-letters {
    background-color: var(--lightThemeBlack);
    height: 3.625em;
    margin: 0 .25em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    margin: .25em;
  }

  #keyboard-container {
    display: none;
  }

  #keyboard {
    justify-content: center;
    height: 100%;
  }

  #all-letters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
    height: 50%;
  }

  /*nav styles*/
  .title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--lightThemeBlack);
  }

  nav > ul > li > ul:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 18.75em;
    width:  18.75em;
    padding: 0;
  }

  nav > ul > li:nth-child(2) {
    width:  18.75em;
  }

  /*disables left side compressed hamburger menu button*/
  .hamburger-button {
    display: none;
  }
}
